.header {
    justify-content: space-between;
    .header__title {
        p {
            font-size: 4rem;
        }
    }
    .header__nav {
        width: 40%;
        display: flex;
        justify-content: space-between;
        .header__link {
            opacity: 1;
            margin: 0;
            transition: color .1s ease;
        }
    }
}
.video-container {
    .video__title {
        h1 {
            font-size: 6rem;
        }
        p {
            font-size: 2rem;
        }
    }
}
.line-up {
    padding: 5rem 2rem;
}
.tickets {
    padding: 5rem 0;
}
.gallery {
    padding: 5rem 0;
    .photos {
        grid-template-columns: repeat(6, 1fr);
    }
}